@use './vars' as *;

.dashboard-page-wrapper {

	main {
		.sc-dashboard-content {
			margin-top: 32px;
			display: grid;
			grid-template-columns: auto 350px;
			gap: 24px;

			&>* {
				padding: 16px;
				border-radius: 14px;
			}

			.overview-wrapper {
				.overview-box {
					margin-top: 24px;
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 18px;

					.overview-item {
						padding: 20px;
						border-radius: 14px;
						min-height: 165px;
						border: 1px solid hsla(0, 0%, 87%, 0.70);

						&.active {
							border: 1px transparent;
							background-color: $blue-700;

							.icon-arrow-right {
								stroke: $neutral-0;
							}

							.label,
							.description,
							.amount {
								color: $neutral-0;
							}

							.line {
								background-color: $neutral-0;
							}

							.icon-balance-box {
								border: 1px solid hsla(0, 0%, 87%, 0.20);
							}
						}

						.icon-balance-box {
							max-width: 48px;
							width: 100%;
							height: 48px;
							border-radius: 100px;
							border: 1px solid $neutral-410;
							margin-right: 9px;

							.icon-wrapper {
								max-width: 32px;
								height: 32px;
							}
						}

						.description {
							.icon-wrapper {
								max-width: 14px;
								height: 14px;
								margin-right: 4px;

								svg {
									fill: $green-500;

									&.fill-red {
										fill: $red-400;
									}

									&.fill-yellow {
										fill: $yellow-400;
									}

									&.fill-blue {
										fill: $blue-400;
									}
								}
							}
						}

						.amount {
							letter-spacing: -3px;
						}

						.line {
							background-color: $blue-800;
						}

						.icon-arrow-right {
							stroke: $blue-800;
						}
					}

				}
			}

			.savings-wrapper,
			.recent-transaction-wrapper {
				.see-all-btn {
					color: $blue-800;
				}

				.line {
					margin-block: 24px;
				}

				.savings-list {
					.saving {
						padding: 8px;
						margin-bottom: 16px;

						&:last-of-type {
							margin-bottom: 0;
						}

						.amount-wrapper {
							margin-top: 14px;

							.actual,
							.expected {
								letter-spacing: -1px;
							}

							&.blue {
								.completion {
									color: $blue-700;
								}

								.range {
									background-color: $blue-700;
								}
							}

							&.yellow {
								.completion {
									color: $yellow-500;
								}

								.range {
									background-color: $yellow-500;
								}
							}

							&.green {
								.completion {
									color: $green-400;
								}

								.range {
									background-color: $green-400;
								}
							}

							.range-wrapper {
								margin-top: 12px;
								background-color: $neutral-300;
								height: 8px;

								.range {
									&.range-48 {
										width: 48%;
									}

									&.range-79 {
										width: 79%;
									}

									&.range-32 {
										width: 32%;
									}
								}
							}
						}
					}
				}
			}

			.analytics-wrapper {
				.label {
					min-width: 80px;
					margin-right: 32px;

					.indicator {
						max-width: 12px;
						width: 100%;
						height: 12px;
						margin-right: 12px;

						&.blue {
							background-color: $blue-700;
						}

						&.yellow {
							background-color: $yellow-400;
						}
					}
				}

				.analytics-box {
					margin-top: 24px;

					.x-data,
					.y-data {
						color: $neutral-600;

						&>*.active {
							color: $blue-810;
						}
					}

					.data-wrapper {
						margin-left: 18px;

						.data-figure {
							min-height: 270px;

							.dashed-line {
								background: url('../../images/dashed-line.png') repeat-x;
								height: 1px;
								margin-bottom: 54px;

								&:nth-last-of-type(2) {
									margin-bottom: 0;
								}
							}
						}

						.x-data {
							margin-top: 16px;
						}
					}
				}
			}

			.recent-transaction-wrapper {
				.transaction-list {
					.transaction {
						padding-block: 8px;
						margin-bottom: 24px;

						.icon-box {
							background-color: $neutral-400;
							max-width: 48px;
							width: 100%;
							height: 48px;
							margin-right: 8px;

							.icon-gallery {
								max-width: 20px;
								height: 20px;
							}
						}

						.transaction-amount,
						.transaction-name {
							margin-bottom: 4px;
						}

						.transaction-status {
							color: $green-400;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1366px) {
	.dashboard-page-wrapper main .sc-dashboard-content {

		.analytics-wrapper,
		.overview-wrapper {
			grid-column: 1/-1;
		}

		.analytics-wrapper {
			order: 0;
		}

		.recent-transaction-wrapper {
			order: 1;
		}

		.savings-wrapper {
			order: 2;
		}
	}
}