@use './vars' as *;

html,
body {
	margin: 0;
}

* {
	box-sizing: border-box;
	transition: .4s;
}

a {
	text-decoration: none;
	color: $blue-800;

	&:hover {
		opacity: 0.7;
	}
}

figure,
img {
	margin: 0;
}

img,
svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	font-optical-sizing: auto;
	background-color: $blue-10;
	color: $blue-800;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 00;
}

input {
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

select {
	min-width: 90px;
	padding: 8px 32px 8px 8px;
	border-radius: 8px;
	color: $neutral-500;
	outline: 1px solid $neutral-300;
	border: none;
	-webkit-appearance: none;

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: 1px solid $neutral-500;
		border: none;
	}

}

.select-wrapper {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		width: 17px;
		height: 17px;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
		background: url('../../images/icons/icon-select-arrow.svg') no-repeat center / 17px 17px;
	}
}

.icon-wrapper {
	max-width: 24px;
	width: 100%;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-wrapper {
	width: 100%;
	height: 100%;

	img {
		object-fit: cover;

		.contain {
			object-fit: contain;
		}
	}
}

$font-sizes: (
	12,
	14,
	16,
	18,
	20,
	28
);

@each $size in $font-sizes {
	.text-#{$size} {
		font-size: #{$size}px;
	}
}

.page-wrapper {
	margin-left: 280px;
	padding: 32px;
}

.line {
	height: 1px;
	background-color: $blue-800;
}

.bg-neutral-0 {
	background-color: $neutral-0;
}

.text-white {
	color: $neutral-0;
}

.rounded-full {
	border-radius: 100px;
}

@media screen and (max-width: 1200px) {
	.page-wrapper {
		margin-left: 0;
		padding: 32px;
	}
}

@media screen and (max-width: 768px) {
	.page-wrapper {
		padding: 32px 16px 124px;
	}
}