$neutral-0: #fff;
$neutral-300: #dedede;
$neutral-400: #d9d9d9;
$neutral-410: #EEEEEE;
$neutral-500: #7C7C7C;
$neutral-600: #999999;

$blue-10: #f7f7fb;
$blue-400: #1775E4;
$blue-600: #667085;
$blue-700: #4745a4;
$blue-800: #0d163a;
$blue-810: #14171F;

$green-400: #3BBB6E;
$green-500: #31D3A3;

$red-400: #FE3766;

$yellow-400: #F9BA33;
$yellow-500: #DD9802;